.wrapper {
  position: relative;
  min-height: 100dvh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  padding: 24px 20px;

  @media only screen and (min-width: 768px) {
    padding: 24px 32px;
  }

  @media only screen and (min-width: 1440px) {
    padding: 32px 40px;
  }
}

.main {
  width: 100%;
}

.logo {
  margin: 13.5px 0 0 20px;

  @media (min-width: 1440px) {
    position: absolute;
    margin: 13.5px 0 0 64px;
  }
}

.logoIcon {
  width: 105px;
  height: 45px;
}
