.SectionDiary {
  display: flex;
  gap: 32px 20px;
  padding-block: 32px;
  min-height: 80vh;
  @media (min-width: 768px) {
    margin-top: 32px;
  }
}

.DiaryContainer,
.DiaryContainerDetails {
  border-radius: 32px;
  padding-block: 24px;
  padding-inline: 16px;
  /* max-height: 64vh; */
  width: 100%;
  background: #fff4f6;
}

.Title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.Title > h2 {
  font-family: var(--font-comfortaa);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;

  @media (min-width: 1440px) {
    font-size: 20px;
  }
}

.createContainer > a {
  font-family: var(--font-lato);

  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  gap: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  margin-left: 36px;

  @media (min-width: 1440px) {
    font-size: 16px;
  }
}

.DiaryContainerDetails {
  display: none;
  @media (min-width: 1440px) {
    display: block;
    padding-block: 0px;
  }
}

.iconPlus {
  width: 24px;
  height: 24px;
}

.Greeting {
  margin-top: 16px;
}
