.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  border: 0px solid var(--opacity-neutral-darkest-15);
  border-radius: 32px;
  padding: 24px;
  background: var(--theme-bg-light);
}

.title {
  font-family: var(--font-comfortaa);
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--color-neutral-darkest);
  align-self: flex-start;
}

.recommendationLabel {
  font-family: var(--font-lato);
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-neutral-darkest);
  align-self: flex-start;
  margin-top: 8px;
}

.recommendationText {
  font-family: var(--font-lato);
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-neutral-darkest);
  align-self: flex-start;
  margin-top: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  border-bottom: 4px solid var(--theme-accent);
  border-radius: 100px;
  padding-block: 10px;
  padding-inline: 24px;
  width: 225px;
  height: 42px;
  background: var(--theme-accent-light);
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-neutral-darkest);
  margin-top: 16px;
}

@media (min-width: 1440px) {
  .card {
    height: 210px;
    overflow-y: auto;
  }
}
